.spend-colour-1 {
	background-color: #d3c430 !important;
	background-image: -moz-linear-gradient(top,#d6c73b,#d1c125) !important;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#d6c73b),to(#d1c125)) !important;
	background-image: -webkit-linear-gradient(top,#d6c73b,#d1c125) !important;
	background-image: -o-linear-gradient(top,#d6c73b,#d1c125) !important;
	background-image: linear-gradient(to bottom,#d6c73b,#d1c125) !important;
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd6c73b',endColorstr='#ffd1c125',GradientType=0) !important;
}

.spend-colour-2 {
	background-color: #c7d035 !important;
	background-image: -moz-linear-gradient(top,#cad240,#c4cd2a) !important;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#cad240),to(#c4cd2a)) !important;
	background-image: -webkit-linear-gradient(top,#cad240,#c4cd2a) !important;
	background-image: -o-linear-gradient(top,#cad240,#c4cd2a) !important;
	background-image: linear-gradient(to bottom,#cad240,#c4cd2a) !important;
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcad240',endColorstr='#ffc4cd2a',GradientType=0) !important;
}

.spend-colour-3 {
	background-color: #bcd038 !important;
	background-image: -moz-linear-gradient(top,#bfd242,#b8cd2d) !important;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#bfd242),to(#b8cd2d)) !important;
	background-image: -webkit-linear-gradient(top,#bfd242,#b8cd2d) !important;
	background-image: -o-linear-gradient(top,#bfd242,#b8cd2d) !important;
	background-image: linear-gradient(to bottom,#bfd242,#b8cd2d) !important;
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbfd242',endColorstr='#ffb8cd2d',GradientType=0) !important;
}

.spend-colour-4 {
	background-color: #a4d040 !important;
	background-image: -moz-linear-gradient(top,#a9d34a,#9fce36) !important;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#a9d34a),to(#9fce36)) !important;
	background-image: -webkit-linear-gradient(top,#a9d34a,#9fce36) !important;
	background-image: -o-linear-gradient(top,#a9d34a,#9fce36) !important;
	background-image: linear-gradient(to bottom,#a9d34a,#9fce36);
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa9d34a',endColorstr='#ff9fce36',GradientType=0) !important;
}

.spend-colour-5 {
	background-color: #8cd047 !important;
	background-image: -moz-linear-gradient(top,#92d351,#86ce3d) !important;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#92d351),to(#86ce3d)) !important;
	background-image: -webkit-linear-gradient(top,#92d351,#86ce3d) !important;
	background-image: -o-linear-gradient(top,#92d351,#86ce3d) !important;
	background-image: linear-gradient(to bottom,#92d351,#86ce3d) !important;
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff92d351',endColorstr='#ff86ce3d',GradientType=0) !important;
}

.spend-colour-6 {
	background-color: #6ad152 !important;
	background-image: -moz-linear-gradient(top,#72d45c,#72d45c) !important;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#72d45c),to(#72d45c)) !important;
	background-image: -webkit-linear-gradient(top,#72d45c,#72d45c) !important;
	background-image: -o-linear-gradient(top,#72d45c,#72d45c) !important;
	background-image: linear-gradient(to bottom,#72d45c,#72d45c) !important;
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff57a957',GradientType=0) !important;
}